.onboard-background {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.35s ease;
  width: 100%;
  z-index: 1;
}
.onboard-background.inactive {
  opacity: 0;
}
.onboard-hint {
  opacity: 0;
  pointer-events: none;
  transition: all 0.35s ease;
  transform: scale(0);
}
.onboard-hint > span {
  margin-bottom: 10px;
}
.onboard-hint > img {
  height: 100%;
  width: 100%;
}
.active-sequence {
  opacity: 1 !important;
  pointer-events: all;
  transform: scale(1.25);
  z-index: 2;
}
@media (prefers-reduced-motion: reduce) {
  .onboard-hint {
    transform: scale(1);
  }
  .active-sequence {
    transform: scale(1);
  }
}
